<a href="https://colab.research.google.com/github/Orpita3/Deliverable-6/blob/main/Deliverable-(6).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#@title Default title text
# Step (1): Importing libraries
import pandas as pd
import numpy as np
import seaborn as sns

iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
iris.drop(iris.columns[4], axis=1, inplace=True)

In [ ]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [ ]:
iris = iris.assign(sepal_sum = lambda x: x.sepal_length + x.sepal_width)
iris = iris.assign(petal_sum = lambda x: x.petal_length + x.petal_width)

In [ ]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width  sepal_sum  petal_sum
0           5.1          3.5           1.4          0.2        8.6        1.6
1           4.9          3.0           1.4          0.2        7.9        1.6
2           4.7          3.2           1.3          0.2        7.9        1.5
3           4.6          3.1           1.5          0.2        7.7        1.7
4           5.0          3.6           1.4          0.2        8.6        1.6

In [ ]:
data = {'avg': [], 'stddev': [], 'minm': [], 'maxm': []}
index = []
for col in iris.columns:
    index.append(col)
    data['avg'].append(round(iris[col].mean(),6))
    data['stddev'].append(round(iris[col].std(),6))
    data['minm'].append(round(iris[col].min(),6))
    data['maxm'].append(round(iris[col].max(),6))


index.insert(2,index[-2])
index.pop(-2)

for key in data:
    data[key].insert(2,data[key][-2])
    data[key].pop(-2)

new_df = pd.DataFrame(data, index)

In [ ]:
new_df.head()

                   avg    stddev  minm  maxm
sepal_length  5.843333  0.828066   4.3   7.9
sepal_width   3.057333  0.435866   2.0   4.4
petal_length  3.758000  1.765298   1.0   6.9
petal_width   1.199333  0.762238   0.1   2.5